.lightBar {
  background-color: var(--primaryColor);  
  height: 400px;
}
.darkBar {
  /* background-color: #5b7f90; */
  background-color: var(--secondaryColor) ;
  height: 1000px;
  width: 1000px;
  transform: translateX(800px) translateY(-1000px) rotate(-45deg);
}

.background {
  height: 400px;
  overflow: hidden;
}

.titleRow {
  /* display: inline-block; */
  position: absolute;
  top: 20%;
  width: 100%;
  padding-left: 150px;
}

.title {
  font-family: var(--primaryFont);
  text-align: left;
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: var(--secondaryColor);
  letter-spacing: 2px;
}

.subTitle {
  text-align: left;
  margin-top: 30px;
  font-size: 1.2rem;
  color: var(--fourthColor);
  position: relative;
}

.icon {
  font-size: 4rem;
  line-height: 1.15;
  width: auto;
  padding: 5px;
  position: relative;
  top: -5px;
}

