.card {
    background-color: var(--primaryColor);
    color: var(--fourthColor);
    text-align: center;
    margin-top: 20px;
}


.name{
    font-family: var(--oswald);
    font-weight: bold;
    font-size: 0.85rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.commitCount {
    color: var(--secondaryColor);
    font-family: var(--glegoo);
    font-size: 0.8rem;
}