:root {
  --primaryColor: #f1faee;
  --secondaryColor: #1d3557;
  --bgColor: #f1faee;
  --thirdColor: #a8dadc;
  --fourthColor: #457b9d;
  --oppColor: #e63946;
}

:root {
  --poiretOne: 'Poiret One', sans-serif;
  --glegoo: 'Glegoo', sans-serif;
  --junge: 'Junge', sans-serif;
  --oswald: 'Oswald', sans-serif;

}


html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--oswald);
  background-color: var(--bgColor);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h3{
  color: var(--secondaryColor);
  font-family: var(--glegoo);
  font-weight: bold;
}

.inverted h3{
  color: var(--primaryColor);
}



