.icon {
    font-size: 20px;
    font-weight: 100;
    padding-right: 5px;
    position: relative;
    top: 3px;
}

.desc{
  font-family: 'Glegoo', sans-serif;
}

.marginTop20{
  margin-top: 20px;
}

.card {
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
}